.speech {
    font-family: Verdana, Arial, sans-serif;
    font-size: 17px;
    color: black;}

.direction {
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    color: black;
    background-color: rgb(71, 255, 175);
}

p.direction:hover{
    background-color: rgb(0, 255, 255);
    color: blueviolet;
}

.karl{
    color:brown;
}

h5.karl:hover {
    text-shadow: 2px 4px 6px blue
}

.fritzi{
    color:blue;
}

h5.fritzi:hover {
    text-shadow: 2px 4px 6px red
}

.bauer{
    color: purple;
}

h5.bauer:hover {
    text-shadow: 2px 4px 6px yellow
}

table {
    border: solid 3px red;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

tr:nth-child(even){
    background-color: #e2e2e2;
}
